{{! Dark social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="fa fa-twitter" href="https://twitter.com/smichelotti"></a>
    </li>
    <!--<li class="socialIcons_link">
        <a class="fa fa-google-plus" href="https://plus.google.com/+ShayneBoyer"></a>
    </li>-->
    <li class="socialIcons_link">
        <a class="fa fa-linkedin" href="http://www.linkedin.com/in/stevemichelotti"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-rss" href="http://feeds.feedburner.com/SteveMichelotti"></a>
    </li>
</ul>